html {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;

}


.centerstuff {
  background-color: rgba(255,255,255,0.3);
}

.word {
  width: 500px;
  color: black;
  font-size: 35px;
  font-weight: 100;
  border-bottom-style: solid;
  border-bottom-width: thin;
  position: relative;
  opacity: 1.0;
  z-index: 1.0;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1.0;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1.0;
  opacity: 0.75;
}

button {
    border-color: black;
    background-color: transparent;
    color: black;
    position: relative;
    opacity: 1.0;
    z-index: 1.0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: fit-content;
}

button:hover {
  background-color: white;
  color: transparent;
}
