
.hello {
  background-color: white;
  opacity: 0.8;
}

body {
  background-image: url("http://2.bp.blogspot.com/-L37efjjmf4c/US5PKYexJgI/AAAAAAAAT0s/SPlQYbpp7LE/s1600/Snow+Mountains+Wallpapers+1.jpg");
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
}
