.circle {
  width: 350px;
  height: 350px;
  display: flex-end;
  flex-wrap: wrap;
  border-radius: 50%;
  overflow: hidden;
  padding: 50px;
}
.one {
  background-color: white;
  opacity: 0.6;
}
.two  {
  background-color: white;
  opacity: 0.6;
}
.three {
  background-color: white;
  opacity: 0.6;
}
.content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
body {
  background-image: url("https://wpmisc.com/sites/default/files/wallpaper/travel/77899/wood-bridge-hd-wallpapers-77899-9817617.png");
  padding-top: 50px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
