<!DOCTYPE html>
<html>
 <head>
  <meta charset= "UTF-8">
  <title>Madlib</title>
  <link rel="stylesheet" href="Style.css" />
 </head>
  <body>
    <h1> What made you happy today? Happy thoughts can be big or small, the extra smile you got from a stranger or even getting the job of your dream! <h1>
    <br>
     <form method= "post" action= "/Happier">
      <input type="submit" value="Go!">
     </form>
     <div class ="SubA">
       <h2> Insert the fist thing that made you happy today :) </h2>
      <input type = "text" name = "soobjectA" id = "sobjectA"></div>

      <div class ="Adjective">
        <h2> Insert the second thing that made you happy today :) </h2>
       <input type = "text" name = "Adjectiff" id = "Adjectif"></div>



       <div class ="SubB">
         <h2> Insert the third thing that made you happy today! </h2>
        <input type = "text" name = "soojectB" id = "sobjectB"></div>

        <div class ="Verb">
          <h2> Whats your name?  </h2>
         <input type = "text" name = "Vertt" id = "Vert"></div>


  </body>
</html>
