<!DOCTYPE html>
<html>
 <head>
  <meta charset= "UTF-8">
  <title>Input</title>
 </head>
  <body>
    <h1> What made you happy today? Happy thoughts can be big or small, the extra smile you got from a stranger or even getting the job of your dream! <h1>
    <br>
     <form method= "post" action= "/Happier">
      <input type="submit" value="Go!">
     </form>
     <div class ="Input1">
       <h2> Insert the fist thing that made you happy today :) </h2>
      <input type = "text" name = "Happy_thought1" id = "happy_input1"></div>

      <div class ="Input2">
        <h2> Insert the second thing that made you happy today :) </h2>
       <input type = "text" name = "Happy_thought2" id = "happy_input2"></div>
       <div class ="Input3">
         <h2> Insert the third thing that made you happy today! </h2>
        <input type = "text" name = "Happy_thought3" id = "happy_input3"></div>
  </body>
</html>
