<!DOCTYPE html>
<html>
 <head>
  <meta charset= "UTF-8">
  <title>Input</title>
  <link rel="stylesheet" type="text/css" href="style/input_page.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
 </head>
  <body>
    <center>
      <br>
      <br>
      <br>
  <!-- <img src="https://i.pinimg.com/originals/3d/a0/d5/3da0d5f7a33dc1dcb230fff50467aa18.jpg" alt="" id="image"> -->
     <form method= "post" action= "/Happy2">
     <div class = "hello">
     <div class ="Input1">

     </form>
     <br>
     <h3> What made you happy today? Happy thoughts can be big or small, the extra smile you got from a stranger or even getting the job of your dream! </h3>
     <br>

       <textarea name = "Happy_thought1" id = "happy_input1" rows = "5" cols = "100" placeholder="Insert the something that made you happy today"></textarea>
       <h4>{{Happy_goals}}<h4> <input type="submit" value="Input another happy moment :)">
     </div>
     <form method= "post" action= "/Happier"> <input type= {{status}} value="Goto" ></form>
      <h2>{{Wellness_Messages}}<h2>
      <h3>{{happy}}<h3>
        <br>
    </div>
  </center>
  </body>
</html>
