<!DOCTYPE html>
<html>
 <head>
  <meta charset= "UTF-8">
  <title>HappyCloud</title>
  <link rel="stylesheet" type="text/css" href="style/database.css">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:300,400,500&display=swap" rel="stylesheet">
 </head>
  <body>
    <center>
    <div class="content">
      <div class="circle one">
       <h1> Welcome to our Happycloud! <h1>
         <a href="/Ownlibrary">Read something that made you happy :)</a>
      </div>
      <div class="circle two">
        <h1> Welcome to Happycloud <h1>
          <a href="/library">Read something that made someone else happy!</a>
      </div>
    </div>
  </body>
</html>
